{% extends 'perfilesapp/base.html' %}
{% load static %} 

{% block tituloPagina %} 
About
{% endblock %} 

{% block about %} 

<div>
    <p class="justify-content-center">
        <br>
        <br>
        <h1 style="color:white" > 
        Pablo: Sobre Mi
        </h1>
        <br>
        <br>

        <h4 style="color:white" align="justify">
            <p>Soy Pablo Ruiz estudiante de Python-, oriunda de Argentina </p>
            <p>Creae el siguiente proyecto relacionado a la pasión de un familiar, el kayak, y su club donde entrena y compite: Club de Kayaks y Canoas. </p>
            <p>Todo el material aqui presentado pertenece al club y se ha trabajado con la autorización correspondiente, en busca de mejorar en un futuro la web actual.</p>
            <p>La idea principal era que la web sea un lugar de encuentro del club, en donde se puedan ofrecer los diferentes servicios: información, venta de clases y productos relacionados, noticias y un espacio para los socios, donde sentirse parte</p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>

        </h4>
        <br>
        <br>        
    </p>
</div>




{% endblock %} 