{% extends 'perfilesapp/base.html' %}
{% load static %} 

{% block tituloPagina %} 
CRO
{% endblock %} 

{% block about %} 
<div>
    <p class="justify-content-center">
        
        <br>
        <br>
        <h1 style="color:white" >

           CKC - Club de Kayaks y Canoas

        </h1>
        <br>
        <br>

        

        <h4 style="color:white" align="justify"> 
            <p>El Club de Kayaks y Canoas, fundado en el año 2019 , es un club federado de competencia en el circuito Argentino. </p> 
            <p>Los entrenamientos se realizan 6 dias a la semana, en donde se integran entrenamientos en agua, de máquinas y de fuerza. </p>
        </h4>
   
        <br>
        <br>
    </p>
</div>

{% endblock %} 