{% extends 'perfilesapp/base.html' %}
{% load static %} 

{% block tituloPagina %} 
Escuela Municipal
{% endblock %} 

{% block about %} 
<div>
    <p class="justify-content-center">
        <br>
        <br>
        <h1 style="color:white" > 
        Escuela Municipal de Remo
        </h1>
        <br>
        <br>

        <h4 style="color:white" align="justify">
            <p>El Club de Kayaks y Canoas municipal nace de una iniciativa de la intendencia de Argentina por integrar jovenes a deportes. </p>
            <p>El programa empezò en el año 2014 y ya han pasado mas de 150 niños y niñas entre 10 y 17 años.</p>
            <p>No solo brinda deporte a los jóvenes, sino que tambien, junto a educadores, se llevan iniciativas adelante para fomentar el estudio y el futuro de los chicos, que se encuentran en una etapa de sus vidas criticas, formándose como futuros ciudadanos y seres de bien </p>
            <p>Los chicos tiene la opción de kayak recreativo o competencias, en las cuales se viaja por el país, conociendo clubes y generando contactos con otros jóvenes </p>
            <p>Las clases son los dias Lunes , Martes, Miercoles y Viernes de 10 a 12:30 </p>

        </h4>
        <br>
        <br>        
    </p>
</div>

{% endblock %} 