{% extends 'perfilesapp/base.html' %}
{% load static %} 

{% block tituloPagina %} 
Nosotros
{% endblock %} 


{% block about %} 
<div>
    <p class="justify-content-center">
        <h1 style="color:white" >
            <br>
            <br>
            Sobre Nosotros
            <br>
            <br>
        </h1>

        <h3 style="color:white" align="justify"> 
            <br> 
            <div class="py-50 px-lg-40">

                <p> El Club de Kayaks y Canoas de Tigre nace en el año 2015. </p>
                <p> Ubicada en la costa de Buenos aires, en el barrio Tigre por el camino al Faro, ofrece conocer la ciudad desde otra perspectiva.</p>
                <p>Los horarios de clases son de Lunes a Domingo, de 7 a 19hs.</p>
                <p>Nuestros instructores son profesionales galardonados, calificados para enseñar.</p>
            </div> 
            <br> 
            <div style="text-align:center">  
                <a href="{% url 'about' %}"><button class="btn btn-outline-dark">Conoce más sobre Pablo, El creador de la web</button></a>
            </div>

        </h3>
        <br>
    </p>
</div>

{% endblock %} 

{% block servicios %} 
<div>
    <section class="bg-light py-5">
        <div class="container px-lg-5">
            <form action="" method="post" class="text-center">
                <h1>
                    Nuestros Instructores
                </h1>

                <br>
                <br>

                {% csrf_token %}
                <input type="search" name="search" placeholder="Buscar por nombre o apellido" aria-label="search">
                <button class="btn btn-outline-success text-nowrap ms-3 my-2 my-sm-0" type="submit"> <i class="bi bi-search"></i> Buscar</button>
                <br>
                <br>

            </form>
            <br>
            <br>  
            <h4 class="text-center">
                Resultados
                {% if search %}
                    para "{{busqueda}}":
                {% else %}
                    totales:
                {% endif %}
            </h4>   
            <br>
            <br>       
               
            <ul class="list-group list-group">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                
                    <b>Nombre del profesor</b>   <!-- Encabezados-->
                    <b>Apellido</b>
                    <b>Edad</b>
                    <b>Email</b>
        
                </li>

        
                    {% for profesor in profesores %}
                        <li class="list-group-item d-flex justify-content-between align-items-start">

                            <span>{{profesor.nombreprofesor}}</span>
                            <span>{{profesor.apellidoprofesor}}</span>
                            <span>{{profesor.edadprofesor}}</span>
                            <span>{{profesor.emailprofesor}}</span>
                
                        </li>
               
                    {% endfor %}
                
            </ul>  
            <br>
            {% if user.is_authenticated %}
                {% if user.is_staff %}

                    <div style="text-align:right">  
                        <a href="{% url 'profesores' %}"><button class="btn btn-outline-dark">Editar Profesores</button></a>
                    </div>
                {% endif %}
            {% endif %}

        </div>
    </section>
</div>

{% endblock %} 

<!-- Aca va la tabla con los datos de los instructores-->

